<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:fragment="sidebar">


    <aside class="side">
        <div class="container">
            <div class="row">
                <div class="my-grid">
                    <span class="menuBtn">게시판</span>
                    <ul class="sidenav">
                        <li><a th:href="@{/notice/notice}"><span> 공지 게시판</span></a></li>
                        <li><a th:href="@{/animal/animal_List}"><span> 유기동물 List</span></a></li>
                        <li><a th:href="@{/rec/rec_list}"><span> 유기동물 추천</span></a></li>
                        <li><a th:href="@{/free/free_list}"><span> 자유 게시판</span></a></li>
                    </ul>
                </div>
            </div>
        </div>            
    </aside>
    
</th:block>
</html>
