<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:replace="~{/include/header :: header1}"></th:block>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>


    <!-- 개인디자인(부트스트랩 아래에 위치) -->
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/history.css}">



<th:block th:replace="~{/include/header :: header2}"></th:block>

    <th:block th:replace="~{/include/sidebar :: sidebar}"></th:block>


    <section class="section">
        <div class="container full_collum">
            <h3 class="h3">입양 이력</h3>
            <hr>

            <ul>
                <li>
                    <table cellpadding="0" cellspacing="0" class="row_tb_11" width="100%">
                        <tbody>
                            <tr class="row_1">
                                <th>번호</th>
                                <th>이름</th>
                                <th>종류</th>
                                <th>입양신청내용</th>
                                <th>신청날짜</th>
                                <th>진행상황</th>
                                <th>비고</th>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>

                            <tr>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>...</td>
                                <td>yyyy-MM-dd</td>
                                <td>...</td>
                                <td>...</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="page">
                        <ul>
                            <li><a href="##"><<</a></li>
                            <li><a href="##"><</a></li>
                            <li><a href="##">1</a></li>
                            <li><a href="##">2</a></li>
                            <li><a href="##">3</a></li>
                            <li><a href="##">4</a></li>
                            <li><a href="##">5</a></li>
                            <li><a href="##">></a></li>
                            <li><a href="##">>></a></li>
                        </ul>
                    </div>
                </li>
            </ul>


        </div>
    </section>


    <th:block th:replace="~{/include/footer :: footer1}"></th:block>


<th:block th:replace="~{/include/footer :: footer2}"></th:block>

</html>