<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프문법 선언 -->

<th:block th:replace="~{/include/header :: header1}"></th:block>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.js}"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
    </script>

    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">


<!-- header -->
<th:block th:replace="~{/include/header :: header2}"></th:block>

    <!-- <div id="sidebar"></div> -->

    <section id="signup">



        <div class="container">  


            <div class="col-md-12 col-sm-10 col-xs-10 sign_list">
                <h3 class="h3">회원가입</h3>
                <hr>
                <form action="#">
                <div class="inner-box">
                    <!-- 아이디 -->
                    <div class="join_row">
                        <h3>
                            <label for="id">아이디</label>
                        </h3>
                        
                        <span class="box">
                            <input type="text" id="id" class="id" maxlength="20" required>
                        </span>
                        <span class="error_box" id="id_msg" style="display: none;"></span>
                    </div>
                    
                    <!-- 비밀번호 -->
                    <div class="join_row">

                        <h3>
                            <label for="pw">비밀번호</label>
                        </h3>
                        
                        <span class="box">
                            <input type="password" id="pw" class="pw" placeholder="pw조건" required>
                
                        </span>
                        <span class="error_box" id="pw_msg" style="display: none;"></span>
                    <!-- 비밀번호 확인 -->
                    

                        <h3>
                            <label for="pw-check">비밀번호 확인</label>
                        </h3>
                        
                        <span class="box">
                            <input type="password" id="pw-check" class="pw" required>
                        </span>
                        <span class="error_box" id="pw_check_msg" style="display: none;"></span>
                    </div>

                    <!-- 이름 -->
                    <div class="join_row">
                        <h3>
                            <label for="name">이름</label>
                        </h3>
                        
                        <span class="box">
                            <input type="text" id="name" class="name" required>
                        </span>
                        <span class="error_box" id="name_msg" style="display: none;"></span>
                    </div>


                    

                <!-- 생년월일 -->
                <div class="join_row bir">
                    <h3><label for="yy">생년월일</label></h3>

                    <span class="box yy">
                        <input type="text" id="yy" class="yy" maxlength="4" placeholder="년(4자)" required>
                        
                    </span>
                    <span class="error_box" id="yy_msg" style="display: none;"></span>

                    <span class="box mm">

                        <select class="mm" required>
                            <option value selected>월</option>
                            <option value="01">1</option>
                            <option value="02">2</option>
                            <option value="03">3</option>
                            <option value="04">4</option>
                            <option value="05">5</option>
                            <option value="06">6</option>
                            <option value="07">7</option>
                            <option value="08">8</option>
                            <option value="09">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </span>
                    <span class="error_box" id="mm_msg" style="display: none;"></span>
                    <span class="box dd"> 
                        <input type="text" class="dd" maxlength="2" placeholder="일" required>
                    </span>
                    <span class="error_box" id="dd_msg" style="display: none;"></span>

                </div>

                <!-- 성별 -->
                <div class="join_row">

                    <h3><label for="gen">성별</label></h3>

                    <span class="box gen">
                        <select id="gen" class="gender" required>
                            <option value selected>성별</option>
                            <option value="m">남</option>
                            <option value="w">여</option>
                        </select>
                    </span>
                    <span class="error_box" id="gen_msg" style="display: none;"></span>
                </div>

                <!-- 이메일 -->
                <div class="join_row">

                    <h3><label for="email">이메일</label></h3>

                    <span class="box">
                        <input type="text" id="email" class="email" placeholder="조건" maxlength="50" required>
                    </span>
                    <span class="error_box" id="email_msg" style="display: none;"></span>

                </div>

                <!-- 전화번호 -->
                <div class="join_row last_row">

                    <h3><label for="phon">전화번호</label></h3>

                    <span class="box">
                        <input type="tel" id="phon" class="phon" placeholder="번호만입력하세요" maxlength="12" required>
                    </span>
                    <span class="error_box" id="phon_msg" style="display: none;"></span>

                </div>

                <div class="line"></div>

                <div class="info">
                    <h2>추가정보(선택)</h3>

                    <!-- 연봉 -->
                    <div class="join_row">
                        <h3><label for="salary">연봉</label></h3>
                        
                        <span class="box salary">
                            <select  class="sa">
                                <option value selected>금액</option>
                                <option value="2">3000이하</option>
                                <option value="3">3000~4000</option>
                                <option value="4">4000~5000</option>
                                <option value="5">5000이상</option>
                            </select>
                        </span>
                        <span class="error_box" id="salary_msg" style="display: none;"></span>
                    </div>

                    <!--집 평수 -->
                    <div class="join_row">

                        <h3><label for="size">집 평수</label></h3>
                        
                        <span class="box">
                            <input type="text" id="size"  placeholder="숫자만입력(기준:평수)">
                        </span>
                        <span class="error_box" id="size_msg" style="display: none;"></span>
                    </div>
                    
                    <!-- 집에있는 시간 -->
                    <div class="join_row">

                        <h3><label for="stay">집에있는시간</label></h3>
                        
                        <span class="box">
                            <input type="text" id="stay" placeholder="숫자만입력(기준:시)">
                        </span>
                        <span class="error_box" id="stay_msg" style="display: none;"></span>
                    </div>
                        
                    <div class="join_row">
                        <h3><label for="preferred">선호하는 동물</label></h3>

                        <span class="box preferred" id="preferred">
                            <select class="pref">
                                <option value selected>동물선택</option>
                                <option value="dog">강아지</option>
                                <option value="cat">고양이</option>
                                <option value=".">...?</option>
                                <option value="..">설정</option>
                                <option value="...">해야함</option>

                            </select>
                        </span>

                    </div>

                    <div class="join_row">
                        <h3><label for="nowani">현재 동물을 키우고 계십니까?</label></h3>                                        
                        

                        <div class="checks">

                            <label class="radio-inline"><input type="radio" name="optradio" value="y" >예</label>
                            <label class="radio-inline"><input type="radio" name="optradio" value="n">아니오</label>
                            <!-- <input type="radio" name="" >Option 1 -->
                        </div>
                        

                        <!-- 
                                <input type="radio" value="y" id="ch11" name="che" checked>
                                <label for="ch11">예</label>
                                <input type="radio" value="n" id="ch12" name="che">
                                <label for="ch12">아니요</label>   
                         -->                   

                    </div>


                </div>

                
                <input type="submit"  class="sub" value="가입하기">

                </div>
            </form>
            </div>
        </div>


    </section>


    <!-- footer -->
    <th:block th:replace="~{/include/footer :: footer1}"></th:block>

<th:block th:replace="~{/include/footer :: footer2}"></th:block>

</html>