        * {margin: 0; padding: 0; list-style: none;}


        /* 사이드 메뉴 */
        .side_r {
            position: fixed;
            right: 0;
            top: 210px;
            z-index: 10; /* z축의 높이 (피지션 간의 우선순위 결정) */
            background-color: white;
            border: 1px inset #777;
            width: 200px;
            text-align: center;
        }
        .side_r .side-list li {border-bottom: 1px solid #777;}
        .side_r .side-list li a {
            color: black;
            text-decoration: none;
            font-size: 10px;
            display: block; /* a가 인라인 태그이기 때문에 변경 */
            padding: 3px 0;
            letter-spacing: -1px; /* 자간 */
        }
        .side_r .side-list li a span {
            display: block;
        }

        .li_first{
            background-color: #999;
            color: aliceblue;
        }

        .side_r_a{
            height: 60px;
        }
        .side_r_b{
            height: 200px;
        }
        .side_r_c{
            height: 200px;
        }
        
        .side_r_a > a > img {
        	width: 100%;
        	height: 100%
        }
        
        .side_r_b > a > img {
        	width: 100%;
        	height: 100%
        }
        
        .side_r_c > a > img {
        	width: 100%;
        	height: 100%
        }
        
    @media (max-width: 1500px) {
    aside.side_r {
        display: none;
    	}
    }