<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.coding404.myweb.animal.AnimalMapper">
  	
  	<insert id="regist">
  		insert into ANIMAL(
  							ANIMAL_TYPE,
  							ANIMAL_SIZE,
  							ANIMAL_NAME,
  							ANIMAL_GENDER,
  							ANIMAL_AGE,
  							ANIMAL_CONTENT,
  							ANIMAL_DISEASE,
  							ANIMAL_NEUTRAL,
  							ANIMAL_COST,
  							ANIMAL_TIME,
  							ANIMAL_DATE,
  							ANIMAL_FILENAME,
  							ANIMAL_PATH,
  							ANIMAL_UUID
  							
  							)
  		values(
  				#{ANIMAL_TYPE},
  				#{ANIMAL_SIZE},
  				#{ANIMAL_NAME},
  				#{ANIMAL_GENDER},
  				#{ANIMAL_AGE},
  				#{ANIMAL_CONTENT},
  				#{ANIMAL_DISEASE},
  				#{ANIMAL_NEUTRAL},
  				#{ANIMAL_COST},
  				#{ANIMAL_TIME},
  				#{ANIMAL_DATE},
  				#{ANIMAL_FILENAME},
  				#{ANIMAL_PATH},
  				#{ANIMAL_UUID}
  				)
  		
  		
  	</insert>
  	
  	<select id="getdetail" resultType="com.coding404.myweb.command.animalVO">
  		select * from ANIMAL
  	</select>
  	
  	
  	
  </mapper>