<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coding404.myweb.free.FreeMapper">
	
	<insert id="regist">
		insert into FREE_LIST(free_list_date,
							  free_list_writer,
							  free_list_type,
							  free_list_title,
							  free_list_content)
		values(#{free_list_date},
			   #{free_list_writer},
			   #{free_list_type},
			   #{free_list_title},
			   #{free_list_content})
			
	</insert>
	
	<select id="getList" resultType="FreeVO">
		select * from FREE_LIST
	</select>
	
	<select id="getDetail" resultType="FreeVO">
		select * from FREE_LIST
		where free_list_num = #{free_list_num}
	</select>

	<update id="update">
		update FREE_LIST
		set free_list_type = #{free_list_type},
			free_list_title = #{free_list_title},
			free_list_content = #{free_list_content}
			
		where free_list_num = #{free_list_num}
	</update>
	
	<delete id="delete">
		delete from FREE_LIST
		where free_list_num = #{free_list_num}
	</delete>
	
	<update id="viewsUpdate">
		update FREE_LIST set free_list_views = free_list_views + 1 where free_list_num = #{free_list_num}
	</update>
	
	
	<!-- 댓글 -->
	<insert id="CommentRegist">
		insert into COMMENT (
							 comment_id,
							 user_list_num,
							 comment_content)
		values (#{comment_id},
				#{user_list_num},
				#{comment_content}
				)
		
	</insert>
	
	<select id="getCommentList" resultType="CommentVO">
		select comment_id,
			   comment_content,
			   DATE_FORMAT(comment_date, '%Y-%m-%d %H:%i:%s')
		from COMMENT
		where user_list_num = #{free_list_num}
	</select>
	
<!-- 	<update id="CommentUpdate">
		update COMMENT 
		set comment_content = #{comment_content}
		where comment_num = #{comment_num} 
	</update> -->
</mapper>